body {
    background: #ffffff;
    font: 400 16px/1.5em  Arial, sans-serif;
}

.list_pokemon-box {
    background-color:#B2BABB;
    border:5px solid #28B463;
    margin: 60px auto;
    overflow:hidden;
    position:relative;
    width:280px;
    height: 280px;
    text-align:center;
    vertical-align:middle;
}

.list_pokemon-box-img{
    diplay:block;
}

.list_pokemon-box-text {
    color:white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 240px;
    background: rgba(43, 198, 69, 0.7);
    transition: top .4s ease-in-out;
}
.list_pokemon-box-description{
    text-align:left;
}

.list_pokemon-box-title {
    font-size:1.2em;
    margin:8px;
}
.type{
    color:white;
    padding:1px 5px;
    border: 2px solid white;
    border-radius:15px;
}
.type_1{
    background-color:green;
}
.type_2{
    background-color:purple;
}

.list_pokemon-box-text:hover .list_pokemon-box-text{
    top:0;
    transition: top .3s ease-in-out;
}